<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
  </head>
  <body>
	<p>Click this OverpassAPI query and see if the service is working:
	<a href="http://localhost:8080/api/interpreter?data=%3Cprint%20mode=%22body%22/%3E">http://localhost:8080/api/interpreter?data=%3Cprint%20mode=%22body%22/%3E</a></p>
    <p>You should get something close to <br><pre>
<?xml version="1.0" encoding="UTF-8"?>
<osm-derived>
  <note>
    The data included in this document is from www.openstreetmap.org. It has there been collected
    by a large group of contributors. For individual attribution of each item please refer to
    http://www.openstreetmap.org/api/0.6/[node|way|relation]/#id/history
  </note>
  <meta osm_base=""/>
</osm-derived>
    </pre></p>
  </body>
</html>