# path to the 'celery' command:
CELERY_BIN="{{ virtualenv_dir }}/bin/celery"

# app instance to use
CELERY_APP="core:celery_app"

# dir to start
CELERYBEAT_CHDIR="{{ celery_chdir }}"

# celerybeat extra args
#CELERYBEAT_OPTS="--schedule=/var/run/celery/celerybeat-schedule"

CELERYBEAT_USER="{{ celery_user }}"