connection_params = '://{{ db_user }}:{{ db_pass }}@127.0.0.1:5432/{{ db_name }}'
postgis_connection = '{}{}'.format('postgis',connection_params)
postgresql_connection = '{}{}'.format('postgresql',connection_params)